# hit ESC and then M for markdown cell, or ESC and then Y for code cell

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime as datetime
import numpy as np
import scipy.stats as scipy
import seaborn as sns

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [3]:
flixFile = "Resources/netflix_titles-copy.csv"

In [4]:
netflixDF = pd.read_csv(flixFile)
netflixDF

,type,title,director,cast,country,date_added,release_year,rating,duration,genre,description
0,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,23-Dec-16,2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,20-Dec-18,2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,16-Nov-17,2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,1-Jan-20,2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...
7782,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...",19-Oct-20,2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2-Mar-19,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,25-Sep-20,2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,31-Oct-20,2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States",1-Mar-20,2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [5]:
# quick glance at the first five rows of the data
netflixDF.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,genre,description
0,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,23-Dec-16,2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,20-Dec-18,2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,16-Nov-17,2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,1-Jan-20,2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [6]:
# quick glance at the last five rows of the data
netflixDF.tail()

,type,title,director,cast,country,date_added,release_year,rating,duration,genre,description
7782,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...",19-Oct-20,2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2-Mar-19,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,25-Sep-20,2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,31-Oct-20,2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States",1-Mar-20,2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [33]:
#check the memory usage for each column
netflixDF.memory_usage(deep=True)

Index               128
type             487614
title            587840
director         475263
cast            1311039
country          521480
release_year      62296
rating           481120
duration         498746
genre            703545
description     1717639
dtype: int64

In [49]:
# sorting the dataframe by specific value
netflixDF.sort_values(by='country', inplace=True)
netflixDF

,type,title,director,cast,country,release_year,rating,duration,genre,description
4746,Movie,Palermo Hollywood,Eduardo Pinto,"Brian Maya, Matías Desiderio, Manuela Pal, Azu...",Argentina,2004,TV-MA,106 min,"Dramas, International Movies",A pair of petty criminals from different backg...
1221,TV Show,Carmel: Who Killed Maria Marta?,Alejandro Hartmann,NaN,Argentina,2020,TV-14,1 Season,"Crime TV Shows, Docuseries, International TV S...","A woman is found dead in her bathtub, with a p..."
4220,TV Show,Monzón: A Knockout Blow,NaN,"Jorge Román, Mauricio Paniagua, Carla Quevedo,...",Argentina,2018,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",This dramatization tells the story of Argentin...
4102,TV Show,Millennials,NaN,"Nicolás Riera, Laura Laprida, Juan Manuel Guil...",Argentina,2019,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, Spa...",A group of millennials copes with the pressure...
4027,Movie,Memories of a Teenager,Lucas Santa Ana,"Renato Quattordio, Malena Narvay, Thomás Leper...",Argentina,2019,TV-MA,97 min,"Dramas, International Movies, LGBTQ Movies","To cope with a friend's death, a teen blogs ab..."
...,...,...,...,...,...,...,...,...,...,...
7739,Movie,Your Excellency,Funke Akindele,"Akin Lewis, Funke Akindele, Kemi Lala Akindoju...",NaN,2019,TV-G,120 min,"Comedies, International Movies","Bumbling through politics, a billionaire busin..."
7746,TV Show,دفعة القاهرة,NaN,"Bashar al-Shatti, Fatima Al Safi, Maram Baloch...",NaN,2019,TV-14,1 Season,"International TV Shows, TV Dramas",A group of women leaves Kuwait to attend unive...
7765,Movie,Zero Hour,Robert O. Peters,"Richard Mofe-Damijo, Alex Ekubo, Ali Nuhu, Rah...",NaN,2018,TV-MA,89 min,"International Movies, Thrillers","After his father passes, the heir to a retail ..."
7777,TV Show,Zombie Dumb,NaN,NaN,NaN,2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
7784,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."

In [32]:
# identify null values, and incomplete rows
netflixDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          7787 non-null   object
 1   title         7787 non-null   object
 2   director      5398 non-null   object
 3   cast          7069 non-null   object
 4   country       7280 non-null   object
 5   release_year  7787 non-null   int64
 6   rating        7780 non-null   object
 7   duration      7787 non-null   object
 8   genre         7787 non-null   object
 9   description   7787 non-null   object
dtypes: int64(1), object(9)
memory usage: 608.5+ KB

In [8]:
#Shows quick statistical information regarding NUMERICAL columns in dataframe
netflixDF.describe()

       release_year
count   7787.000000
mean    2013.932580
std        8.757395
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2018.000000
max     2021.000000

In [9]:
#Number of rows and columns in dataframe
netflixDF.shape

(7787, 11)

In [10]:
#Full list of all columns in dataframe
netflixDF.columns

Index(['type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'genre', 'description'],
      dtype='object')

In [11]:
#Show value counts of each value
count = netflixDF["country"].value_counts()
count

United States                                           2555
India                                                    923
United Kingdom                                           397
Japan                                                    226
South Korea                                              183
                                                        ...
Ireland, United Kingdom, Greece, France, Netherlands       1
Sweden, United Kingdom, Finland                            1
Norway, Denmark, Netherlands, Sweden                       1
United Kingdom, United States, Morocco                     1
United Kingdom, France, Belgium, United States             1
Name: country, Length: 681, dtype: int64

In [12]:
#Show value counts of each value for specific column
count2 = netflixDF["type"].value_counts()
count2

Movie      5377
TV Show    2410
Name: type, dtype: int64

In [28]:
count3 = netflixDF["rating"].value_counts()
count3

TV-MA       2863
TV-14       1931
TV-PG        806
R            665
PG-13        386
TV-Y         280
TV-Y7        271
PG           247
TV-G         194
NR            84
G             39
TV-Y7-FV       6
UR             5
NC-17          3
Name: rating, dtype: int64

In [13]:
#Brings back full list of unique year values
netflixDF["release_year"].unique()

array([2020, 2016, 2011, 2009, 2008, 2019, 1997, 2017, 2018, 2014, 2015,
       2010, 2005, 2013, 2012, 2006, 2000, 2003, 1989, 2004, 1977, 1971,
       1993, 2007, 1998, 1988, 1996, 2002, 1986, 1990, 1979, 1980, 1974,
       2001, 1999, 1966, 1991, 1982, 1994, 1995, 1978, 1992, 1972, 1975,
       2021, 1973, 1967, 1960, 1981, 1958, 1976, 1968, 1956, 1985, 1965,
       1984, 1983, 1987, 1945, 1946, 1962, 1925, 1942, 1969, 1955, 1963,
       1964, 1954, 1970, 1944, 1947, 1959, 1943], dtype=int64)

In [14]:
#Bringing back number of unique year values
len(netflixDF["release_year"].unique())

73

# iloc --- indexing

In [15]:
#Bring back specific value based on row, and column POSITION using iloc(INDEXING),
#regular loc brings back value based on STRINGS

#iloc is not used widely, because you typically will not know the exact position of what you want
dfLoc = netflixDF.iloc[3,4]
dfLoc

'United States'

In [16]:
#Same thing as above, but quicker
netflixDF.iloc[3,4]

'United States'

In [17]:
#Pulling back multiple columns for specific row using iloc
netflixDF.iloc[3, 3:5]

cast       Elijah Wood, John C. Reilly, Jennifer Connelly...
country                                        United States
Name: 3, dtype: object

# loc --- strings, booleans

In [18]:
netflixDF.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,genre,description
0,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,23-Dec-16,2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,20-Dec-18,2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,16-Nov-17,2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,1-Jan-20,2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [19]:
#Pull back all rows using : in the row position within brackets, and the new cols list with desired columns
cols = ["director", "rating"]

netflixDF.loc[:, cols]

               director rating
0                   NaN  TV-MA
1     Jorge Michel Grau  TV-MA
2          Gilbert Chan      R
3           Shane Acker  PG-13
4        Robert Luketic  PG-13
...                 ...    ...
7782        Josef Fares  TV-MA
7783        Mozez Singh  TV-14
7784                NaN  TV-MA
7785                NaN  TV-PG
7786           Sam Dunn  TV-MA

[7787 rows x 2 columns]

In [20]:
#Another way of doing the above ^^^
netflixDF.loc[:, ["director", "rating"]]

               director rating
0                   NaN  TV-MA
1     Jorge Michel Grau  TV-MA
2          Gilbert Chan      R
3           Shane Acker  PG-13
4        Robert Luketic  PG-13
...                 ...    ...
7782        Josef Fares  TV-MA
7783        Mozez Singh  TV-14
7784                NaN  TV-MA
7785                NaN  TV-PG
7786           Sam Dunn  TV-MA

[7787 rows x 2 columns]

# using a mask

In [21]:
#Pulling specific rows based on a conditional
netflixDF["country"] == "United States"

0       False
1       False
2       False
3        True
4        True
        ...
7782    False
7783    False
7784    False
7785    False
7786    False
Name: country, Length: 7787, dtype: bool

In [22]:
#Pulling specific rows based on a conditional,
#colon in the loc is optional, brings back all rows by default
mask = netflixDF["country"] == "United States"
netflixDF.loc[mask, :]

,type,title,director,cast,country,date_added,release_year,rating,duration,genre,description
3,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,16-Nov-17,2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,1-Jan-20,2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
7,Movie,187,Kevin Reynolds,"Samuel L. Jackson, John Heard, Kelly Rowan, Cl...",United States,1-Nov-19,1997,R,119 min,Dramas,After one of his high school students attacks ...
10,Movie,1922,Zak Hilditch,"Thomas Jane, Molly Parker, Dylan Schmid, Kaitl...",United States,20-Oct-17,2017,TV-MA,103 min,"Dramas, Thrillers",A farmer pens a confession admitting to his wi...
14,Movie,3022,John Suits,"Omar Epps, Kate Walsh, Miranda Cosgrove, Angus...",United States,19-Mar-20,2019,R,91 min,"Independent Movies, Sci-Fi & Fantasy, Thrillers",Stranded when the Earth is suddenly destroyed ...
...,...,...,...,...,...,...,...,...,...,...,...
7758,Movie,Zack and Miri Make a Porno,Kevin Smith,"Seth Rogen, Elizabeth Banks, Craig Robinson, J...",United States,1-Oct-18,2008,R,101 min,"Comedies, Independent Movies, Romantic Movies",Zack and Miri make and star in an adult film t...
7771,Movie,Zion,Floyd Russ,Zion Clark,United States,10-Aug-18,2018,TV-PG,12 min,"Documentaries, Sports Movies",Born without legs and stuck in foster care for...
7774,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,20-Nov-19,2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
7778,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,1-Nov-19,2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
7781,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,11-Jan-20,2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."

In [23]:
#list comprehension + mask
mask2 = ["Movie" in x for x in netflixDF["type"]]
netflixDF.loc[mask2]

,type,title,director,cast,country,date_added,release_year,rating,duration,genre,description
1,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,23-Dec-16,2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,20-Dec-18,2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,16-Nov-17,2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,1-Jan-20,2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
6,Movie,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,1-Jun-20,2019,TV-MA,95 min,"Horror Movies, International Movies","After an awful accident, a couple admitted to ..."
...,...,...,...,...,...,...,...,...,...,...,...
7781,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,11-Jan-20,2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
7782,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...",19-Oct-20,2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2-Mar-19,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,25-Sep-20,2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7786,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States",1-Mar-20,2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

# Checking data type of column

In [24]:
testType = pd.DataFrame(netflixDF, columns = ["cast"])
datatypes = testType.dtypes
  
# Print the data types
# of each column
datatypes

cast    object
dtype: object

# export data without index

In [25]:
#pd.to_csv(netflixDF, index=False)

# Cleaning data

In [26]:
# It is not best practice to delete columns, just make a new dataframe without it
netflixDF_sub = netflixDF.loc[:, ["type", "title", "director", "cast", "country", "release_year", "rating", "duration", "genre", "description"]]
netflixDF_sub.head()

,type,title,director,cast,country,release_year,rating,duration,genre,description
0,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [ ]:
#Renaming duration column

In [37]:
netflixDF.groupby(by="country").release_year.mean()

country
Argentina                                              2016.18
Argentina, Brazil, France, Poland, Germany, Denmark    2017.00
Argentina, Chile                                       2017.00
Argentina, Chile, Peru                                 2015.00
Argentina, France                                      2017.00
                                                        ...
Venezuela                                              2017.00
Venezuela, Colombia                                    2007.00
Vietnam                                                2016.80
West Germany                                           1977.00
Zimbabwe                                               2017.00
Name: release_year, Length: 681, dtype: float64

In [52]:
# using the datetime pandas function
dfDate = pd.DataFrame({'year': [1997, 1997, 1968],
                   'month': [4, 6, 11],
                   'day': [14, 17, 7]})
pd.to_datetime(dfDate)

0   1997-04-14
1   1997-06-17
2   1968-11-07
dtype: datetime64[ns]